body {
    font-family: Arial, sans-serif;
    background: #675afe;
    margin: 0;
    padding: 0;
  }

  .container {
    background: #fff;
    width: 350px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 7px 7px 20px rgba(0,0,0,0.5);
  }

  h2 {
    text-align: center;
    font-size: 23px;
  }

  .input-group {
    margin-bottom: 20px;
  }

  .input-group label {
    display: flex;
    margin-bottom: 5px;
  }

  .input-group input {
    width: 100%;
    
    padding: 5px;
    font-size: 16px;
  }

  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #675afe;
    color: white;
    border: none;
    border-radius: 4px;
    transition: 0.9s ease;
  }
  .btn:hover {background-color: #228db8}

  .btn:active {
    background-color: #675afe;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }

  .number-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
  }

  .number-pad button {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
  }



  .number-pad button:hover {background-color: #5164cf}

  .number-pad button:active {
    background-color: #675afe;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }


 